<li>
	<p>Burger Name: {{this.burger_name}}</p>	

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Eat it!!{{else}}Regurgitate it!!{{/if}}
	</button>

</li>
